@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}



.menu{
    background-color: #009b3a;
    color: #fff;
    height: 70px;
}

.menu__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
}

.menu__links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu__item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transform: rotate(-90deg);
}

.menu__item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transform: rotate(0);
}

.menu__link{
    color: #fff;
    text-decoration: none;
    padding: 0 30px;
    display: flex;
    height: 100%;
    align-items: center;
}

.menu__link:hover{
    background-color: transparent;
}


.menu__arrow{
    transform: var(--transform);
    transition: transform .3s;
    display: block;
    margin-left: 2px;
}

.menu__nesting{
    list-style: none;
    transition:clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background-color: white;

}

.menu__link--inside{
    border: 1px solid #CACFD2;
    color: black;
    padding: 10px 8px 10px 8px;
}

.menu__link--inside:hover{
    color: black;
    background-color: white;
}

.menu__hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
    cursor: pointer;
    display: none;
}

.menu__img{
    display: block;
    width: 36px;
}

#usuario{
    background-color: #0a33a5;
    height: 62%;
    margin-top: 15px;
    border: 1px solid transparent;
    border-radius: 7px;
    
}
#usuario:hover 
{background-color: #0a33a5}

/*
DISENIO CONTENEDORES
*/


h1 {
        font-family: omnes,sans-serif;
        font-size: 15px;
        line-height: 22px;
	margin: 15px 0;
	text-align: center;
	font-weight: 300;
}

p {
        font-size: 15px;
	margin: 0 0 1.5em 0;
}

p1 {
        color: #A6ACAF;
        font-size: 15px;
	margin: 0 0 1.5em 0;
}

img {
	max-width: 100%;
	height: auto;
}

titulo{
    font-family: omnes,sans-serif;
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
}


/************ 
//-------------------------------
// CABECERA
//-------------------------------
************/



/*
 * Navegación
 */


#main-content {
	background: transparent ;
	width: 90%;
	max-width: 1050px;
        max-height: 800px;
	margin: 40px auto;
	/*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
        justify-content: center;
}


#main-content-header{
	width: 100%;
	max-width: 900px;
        max-height: 80px;
	margin: 10px 15px;
	/*box-shadow: 0 0 10px rgba(0,0,0,.1);*/
}



#main-content header,
#main-content .content {
        padding: 20px;
}

/*
DATOS PAGINA
*/

#datos_perfil,#datos_email{
	background: transparent;
	width: 90%;
	max-width: 480px;
        max-height: 460px;
	margin: 0px 20px;
	box-shadow: 0 0 10px rgba(0,0,0,.1); 
        float: left;
}


.boton_editar{
          
    text-decoration: none;
    display:inline-block;
    padding: 10px 10px;
    background: #04bc44;
    width:30%;
    margin-left: 25%;
    color:white;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}

.boton_ultimo{
          
    text-decoration: none;
    display:inline-block;
    padding: 10px 10px;
    background: #ECF0F1;
    width:30%;
    margin-left: 25%;
    color:black;
    font-size: 15px;
    text-align: center;
    border-radius: 5px;
}





